.hero {
    background: url('../images/premium_dancer.png') no-repeat #529cf1;
    background-size: contain;
    padding-top: 20px;
    height: 50vh;
    @include tablet {
        background-position: right calc(100% + 40px);
    }
    @include desktop {
        background-position: right calc(100% + 15px);
    }
    &__content {
        width: 70%;
        &--title {
            font-size: 40pt;
        }
        &--text {}
        &--button {
            background-color: #26b758;
        }
        &--smalltext {
            display: block;
        }
    }
}