<footer class="footer">

    <!-- footer info -->
    <section class="footer__info">

        <!-- footer language -->
        <p class="footer__language">
            España<img src="./assets/images/flag.png" alt="España" title="España" />
        </p>

        <!-- footer copyright -->
        <p class="footer__copyright">&copy; 2019 Spotify AB</p>
    </section>

    <!-- footer menu -->
    <nav class="footer__nav">
        <ul class="menu__footer">
            <li class="menu__item">
                <include src="./link.html" aClass="menu__link" text="Legal" url="#"></include>
            </li>
            <li class="menu__item">
                <include src="./link.html" aClass="menu__link" text="Cookies" url="#"></include>
            </li>
            <li class="menu__item">
                <include src="./link.html" aClass="menu__link" text="Información sobre los anuncios" url="#"></include>
            </li>
        </ul>
    </nav>
</footer>