<footer class="footer">
    <section class="footer__info">
        <p class="footer__info--language">
            España<img src="flag" alt="España" title="España" />
        </p>
        <p class="footer__info--copyright">&copy; 2019 Spotify AB</p>
    </section>

    <nav class="footer__nav">
        <ul class="footer__nav--login menu">
            <li class="menu__item">
                <include src="./link.html" aClass="menu__item--link" text="Legal" url="#"></include>
            </li>
            <li class="menu__item">
                <include src="./link.html" aClass="menu__item--link" text="Cookies" url="#"></include>
            </li>
            <li class="menu__item">
                <include src="./link.html" aClass="menu__item--link" text="Información sobre los anuncios" url="#"></include>
            </li>
        </ul>
    </nav>
</footer>