<!--
<header class="page__header">
    <img src="./assets/images/logo-adalab.png" alt="Adalab" />
    <h1>@@title</h1>
</header>
-->

<header class="header">
    <a class="header-logo-link" href="#"><img class="header-logo-image" src="./assets/images/logo.png" alt="Spotify" title="Adalab" /></a>
    <nav class="header-nav">
        <ul class="header-menu">
            <li class="header-menu-item">
                <a class="header-menu-link" href="#">Premium</a>
            </li>
            <li class="header-menu-item">
                <a class="header-menu-link" href="#">Ayuda</a>
            </li>
            <li class="header-menu-item">
                <a class="header-menu-link" href="#">Descarga</a>
            </li>
        </ul>
        <ul class="header-menu-login">
            <li class="header-menu-item">
                <a class="header-menu-link" href="#">Registrarse</a>
            </li>
            <li class="header-menu-item">
                <a class="header-menu-link" href="#">Iniciar sesión</a>
            </li>
        </ul>
    </nav>
</header>