<header class="header">

    <!-- logo -->
    <a class="header__logo" href="./"><img class="header__image" src="./assets/images/logo.png" alt="Spotify" title="Spotify" /></a>

    <nav class="header__nav">

        <!-- burger menu -->
        <a class="burger-menu" href="#"><img class="burger-menu__image" src="./assets/images/menu-icon.png" alt="Menu" title="Menu"></a>

        <!-- main menu (hidden by default) -->
        <ul class="main-menu">
            <li class="main-menu__item">
                <include src="./link.html" aClass="main-menu__link" text="Premium" url="#"></include>
            </li>
            <li class="main-menu__item">
                <include src="./link.html" aClass="main-menu__link" text="Ayuda" url="#"></include>
            </li>
            <li class="main-menu__item">
                <include src="./link.html" aClass="main-menu__link" text="Descargar" url="#"></include>
            </li>
        </ul>

        <!-- login menu (hidden by default) -->
        <ul class="login-menu">
            <li class="login-menu__item">
                <include src="./link.html" aClass="login-menu__link" text="Registrarse" url="#"></include>
            </li>
            <li class="login-menu__item">
                <include src="./link.html" aClass="login-menu__link" text="Iniciar sesión" url="#"></include>
            </li>
        </ul>
    </nav>
</header>