<header class="header">
    <a class="header__logo" href="#"><img class="header__logo--image" src="./assets/images/logo.png" alt="Spotify" title="Spotify" /></a>

    <nav class="header__nav">
        <ul class="header__nav--main menu">
            <li class="menu__item">
                <include src="./link.html" aClass="menu__item--link" text="Premium" url="#"></include>
            </li>
            <li class="menu__item">
                <include src="./link.html" aClass="menu__item--link" text="Ayuda" url="#"></include>
            </li>
            <li class="menu__item">
                <include src="./link.html" aClass="menu__item--link" text="Descarga" url="#"></include>
            </li>
        </ul>

        <ul class="header__nav--login menu">
            <li class="menu__item">
                <include src="./link.html" aClass="menu__item--link" text="Registrarse" url="#"></include>
            </li>
            <li class="menu__item">
                <include src="./link.html" aClass="menu__item--link" text="Iniciar sesión" url="#"></include>
            </li>
        </ul>
    </nav>
</header>