<section class="hero">
    <section class="hero__content">
        <h1 class="hero__content--title">Prueba Premium gratis 3 meses</h1>

        <p class="hero__content--text">
            Escucha millones de canciones sin anuncios, a la carta y sin conexión.
        </p>

        <a class="hero__content--button" href="#">Ver planes</a>

        <small class="hero__content--smalltext">
            Rigen términos y condiciones. Los tres meses gratis no están disponibles para usuarios que ya hayan probado Premium.
        </small>
    </section>
</section>