<main class="main">
    <section class="hero">
        <section class="hero-content">
            <h1 class="hero-title">Prueba Premium gratis 3 meses</h1>

            <p class="hero-text">
                Escucha millones de canciones sin anuncios, a la carta y sin conexión.
            </p>

            <a class="hero-button" href="#">Ver planes</a>

            <p class="hero-text-small">
                Rigen términos y condiciones. Los tres meses gratis no están disponibles para usuarios que ya hayan probado Premium.
            </p>
        </section>
    </section>

    <section class="benefits">
        <h2 class="benefit-title">¿Por qué pasarte a Premium?</h2>

        <include src="./article.html" img="benefit-1.png" title="Descargar música." text="Llévala siempre contigo."></include>

        <include src="./article.html" img="benefit-2.png" title="Sin anuncios." text="Disfruta de música sin interrupciones."></include>

        <include src="./article.html" img="benefit-3.png" title="Escucha lo que quieras." text="Incluso en el móvil."></include>

        <include src="./article.html" img="benefit-4.png" title="Salta todas las canciones que quieras." text="Simplemente dale a siguiente."></include>
    </section>
</main>