* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

li {
    display: inline;
}

ul {
    list-style: none;
}