/* fonts */

$font-main: Montserrat,
Helvetica,
Arial,
sans-serif;

/* colors */

$color-background: #f3f4f5;
$color-main: #529cf1;
$color-secondary: #26b758;
$color-info: #999;

/* media queries */

@mixin mobile {
    @media (max-width: 500px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1200px) {
        @content;
    }
}