.hero {
    background: url('../images/premium_dancer.png') right no-repeat #529cf1;
    background-size: contain;
    height: 50vh;
}

.hero-content {
    width: 70%;
}

.hero-title {
    font-size: 40pt;
}

.hero-text {}

.hero-button {
    background-color: #26b758;
}

.hero-text-small {}