.header {
    background-color: black;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    line-height: 0;
    &__logo {
        height: 40px;
        padding: 5px;
        margin: 10px 15px;
    }
    &__image {
        height: 30px;
    }
    &__nav {
        margin: 0 15px;
    }
}

.burger-menu {
    display: block;
    width: 40px;
    padding: 5px;
    @media all and (min-width: 768px) {
        display: none;
    }
    &__image {
        width: 100%;
    }
}

.main-menu {
    background-color: red;
    display: block;
    line-height: 20px;
}


/*
.header {
    &__nav {
        &--main,
        &--login {
            font-size: 10pt;
            display: inline;
        }
        &--login {
            border-left: 1px solid white;
        }
    }
}
*/