.header {
    background-color: black;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    line-height: 0;
    &__logo {
        height: 40px;
        padding: 5px;
        margin: 10px 15px;
        @include tablet {
            height: 50px;
            margin: 15px 0 15px 25px;
        }
    }
    &__image {
        height: 100%;
    }
    &__nav {
        margin: 0 15px 0 0;
        display: flex;
    }
}

.burger-menu {
    display: block;
    width: 40px;
    padding: 5px;
    @include tablet {
        display: none;
    }
    &__image {
        width: 100%;
    }
}

.main-menu,
.login-menu {
    display: none;
    @include tablet {
        display: block;
    }
    &__link {
        font-size: 14px;
        line-height: 16px;
        font-weight: bold;
        color: white;
        padding: 5px;
        margin: 0 10px;
        @include tablet {
            margin: 0 8px;
        }
        @include desktop {
            margin: 0 10px;
        }
    }
}

.login-menu {
    border-left: 1px solid white;
    @include tablet {
        padding-left: 16px;
        margin-left: 16px;
    }
    @include desktop {
        padding-left: 20px;
        margin-left: 20px;
    }
}