.main {
    padding-top: 80px;
    background-color: $color-main;
    position: relative;
    top: 80px;
    @include tablet {
        padding-top: 60px;
    }
    @include desktop {
        padding-top: 20px;
    }
    &__title {
        font-size: 20px;
    }
}


/* benefits styles */

.benefits {
    background-color: $color-background;
}