@import 'core/variables';
@import 'core/reset';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

li {
    display: inline;
}

.main {
    position: relative;
    top: 50px;
}

.main-title {
    font-size: 20pt;
}